<div class="container-fluid create-form  mt-4 mb-3">
  <div class="card-from">
    <div class="card">
      <div class="card-header">
        <p class="mb-0">Branch Transfer Reciept</p>
      </div>
      <form [style.fontSize.px]="10">
        <div class="card-body">
          <div>
            <app-create-branch-transfer-reciept
              [branchTransferRecieptForm]="branchTransferRecieptForm" (totalValue)="totalValueCalculate($event)"></app-create-branch-transfer-reciept>
            <app-branch-transfer-reciept-item-details-page 
              [editViewFinalAmount]="editViewFinalAmount" [totalValue]="totalValue"></app-branch-transfer-reciept-item-details-page>
          </div>
          <div class=" text-center mt-2 ">
            <button *ngIf="!isView" type="button" class="btn btn_primary pl-3 pr-3 ml-3"
              (click)="submitRecieptForm('save')"> Save
            </button>
            <button *ngIf="!isView" type="button" class="btn btn_primary pl-3 pr-3 ml-3"
              (click)="submitRecieptForm('submit')"> Submit
            </button>

            <button *ngIf="isView" type="button" class="btn btn_secondary px-3 ml-3 " (click)="downloadRecieptPdf()">
              View PDF
            </button>
            <button type="button" class="btn btn_primary pl-3 pr-3 ml-3" (click)="exitForm()"> Exit
            </button>
            <button *ngIf="!isView" type="button" class="btn btn_primary pl-3 pr-3 ml-3" (click)="clearForm()"> Clear
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>