

  ::-webkit-scrollbar {
    width: 15px;
    
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaaa; 
  border-radius: 10px;
  
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e0e2e4; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e2e4; 
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: gray;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #00a8a9 !important;
  }