.pending-installation-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    min-height: 100vh;
}

.breadcrumb_container {
    width: 100%;
    margin: 5px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;

    .breadcrumb_link {
        padding-left: 10px;

        a {
            text-decoration: none;
            color: #0000FF;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.content_right1 {
    width: 98%;
    margin: 0 auto;
}

.con_slidediv2 {
    position: relative;
    width: 100%;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        background-color: #f1f1f1;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        padding: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: right;
    }
}

.headingSpas {
    background-color: #FFFFFF;
    padding: 5px;
}

.formLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
}

.txtField {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
    border: 1px solid #7f9db9;
    height: 18px;
    padding-left: 2px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #CC0000;
    background-color: #e5e5e5;
    border: 1px solid #999999;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 10px;

    &:hover {
        border: 1px solid #666666;
        background-color: #d5d5d5;
    }
}

.grid-container {
    width: 100%;
}

.data-table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;

    thead {
        tr.grid-header {
            background-color: #eeeeee;

            th {
                font-size: 11px;
                font-weight: bold;
                color: #000000;
                text-align: left;
                padding: 4px;
                white-space: nowrap;
            }

            th[align="center"] {
                text-align: center;
            }
        }
    }

    tbody {
        tr.grid-row {
            background-color: #FFFFFF;

            td {
                font-size: 11px;
                color: #333333;
                padding: 4px;

                a {
                    color: #0000FF;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover td {
                background-color: #fdfdfd;
            }
        }

        .no-records {
            color: #FF0000;
            font-weight: bold;
            padding: 10px;
        }
    }
}