

.mat-dialog-container {
     padding: 0px !important;
}
::ng-deep .confirmation_modal {
    .mat-dialog-container {
        padding: 0px;
        background-color: transparent;
        box-shadow: none;
    }
}

.confirmation_card {
    padding: 15px 15px 15px 15px;
    background-color: transparent;

    .card {
        border: 1px solid rgba(0, 0, 0, 0.095);
        border-radius: .5rem;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);

        .card_header {
            padding: 8px;
            border-radius: 6px;
            position: relative;

            .card_title {
                text-align: center;
                font-size : 14px;
            }

            p {
                color: rgba(255, 255, 255, 0.7);
            }

            .icon_close {
                position: absolute;
                top: 3px;
                right: 5px;
                font-size: 20px;
                cursor: pointer;
                border-radius: 50%;
                padding: 2px;

                &:hover {
                    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }

        .card_header_secondary {
           background-color:#00a8a9;
            color: #fff;
        }

        .card_footer {
            margin-bottom: 0.25rem;

            .button {
                padding: 0.1rem 1rem;
                border: 1px solid #6295b6 !important;
                color: #028383 !important;
            }

            .button_color_green {
                border: 1px solid transparent !important;
              color: #ffffff !important;
             background-color: #028383 !important;
             box-shadow: 0px 2px 8px 2px rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            
            }
        }
    }
    .part-detail{
        font-size: 12px !important;
        label{
            color: #495057 !important;
            font-size: 12px !important;
        }
    }
}
