<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between">
                <div>
                    <p class="font-weight-bold" style="color: #354052">
                        Branch Transfer Receipt
                    </p>
                </div>
                <div>
                    <a [routerLink]="[ './create' ]"
                        class="font-weight-bold">
                        <u>Create Branch Transfer Receipt</u>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-12">
            <app-search-branch-transfer-receipt>

            </app-search-branch-transfer-receipt>
        </div>
    </div>
</div>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-lg-12">
        <div class="text-center alert alert-secondary" style="margin-top: 100px">
            Table Data Not Found </div>
        </div>
    </div>
</div>

