

i{
    cursor: pointer;
    padding-top: 4px;
}
.label{
    padding-top: 6px; 
}
.btnName{
    color: #00a8a9
}
.btn-xs{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: 1;
    border-radius: .2rem;
}

.header{
    margin-bottom: 1px;
}
.anchorColor{
    color: #007bff !important;
    font-size: 155%;
}