table {
    width: 100%;
    color:black;
  }
  th{
    font-weight: bold
  }
  th, td{
    font-size: 12px;
  }  
  table.table-sm th td{
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .3rem;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaaa; 
  border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e0e2e4; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e2e4; 
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: gray;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #00a8a9 !important;
  }




button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    }

    .overflow{
      overflow-x: scroll !important;
    }