 <!-- ============== Concern Table ======================= -->

 <div class="card-from mt-2 concern" [formGroup]="concernForm">
    <div class="card" style="border: 1px solid #45afaf;">
      <div class="card-header" style="background-color: #45afaf;border: 1px solid #45afaf;">
        <p class="mb-0" style="font-size: 13px;">CONCERNS</p>
      </div>
      <div class="card-body">

        <div class="row">

                <div class="col-lg-9">
                    <mat-form-field appearance="outline">
                        <mat-label>Probable Cause</mat-label>
                        <textarea matInput placeholder="Probable Cause" formControlName="probableCause"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-lg-9">
                    <mat-form-field appearance="outline">
                        <mat-label>Result of Conformation</mat-label>
                        <textarea matInput placeholder="Result of Conformation" formControlName="resultOfConfirmation"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-lg-9">
                    <mat-form-field appearance="outline">
                        <mat-label>Tentative Action</mat-label>
                        <textarea matInput placeholder="Tentative Action" formControlName="tentativeAction"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-lg-9">
                    <mat-form-field appearance="outline">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
                    </mat-form-field>
                </div>
            </div>

    </div>

    </div>

    <div class="card" style="border: 1px solid #45afaf; margin-top: 10px;">
        <div class="card-header" style="background-color: #45afaf;border: 1px solid #45afaf;">
          <p class="mb-0" style="font-size: 13px;">HO Remarks</p>
        </div>
        <div class="card-body">
  
          <div class="row">
                  <div class="col-lg-9">
                      <mat-form-field appearance="outline">
                          <mat-label>QA Remarks</mat-label>
                          <textarea matInput placeholder="QA Remarks" formControlName="qaRemarks"></textarea>
                      </mat-form-field>
                  </div>
                  <div class="col-lg-9">
                    <mat-form-field appearance="outline">
                        <mat-label>Service Remarks</mat-label>
                        <textarea matInput placeholder="Service Remarks" formControlName="serviceRemarks"></textarea>
                    </mat-form-field>
                </div>
        </div>
  
      </div>
  
      </div>
    
  </div>