<div class="card"  style="border: 1px solid #45afaf;">
    <div class="card-header d-flex justify-content-between" style="background-color: #45afaf;
    border: 1px solid #45afaf;">
        <p class="mb-0">Complaint Reporting Person Selection</p>
        <button class="font-weight-bold btn btn_header bg_white" (click)="closeDialog()">Close</button>
    </div>
    <mat-dialog-content>
        <div class="table-responsive mt-1">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Contact no</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Designation</th>
                </tr>    
            </thead>
            <tbody>
                <tr *ngFor='let houser of reportingPersonList' >
                    <td style="cursor:pointer;color:blue">
                        <p (click)="userSelection(houser)" class="jobcardno">{{houser['name']}}</p>
                    </td>
                    
                    <td [textContent]="houser['contactNo']"></td>
                    <td [textContent]="houser['email']"></td>
                    <td [textContent]="houser['department']"></td>
                    <td [textContent]="houser['designation']"></td>
                </tr>
            </tbody>
        </table>
       </div> 
    </mat-dialog-content>
</div>        