<div class="card-from mt-2" [formGroup]="uploadFileForm">
    <div class="card" style="border: 1px solid #45afaf;">
        <div class="card-header" style="background-color: #45afaf;border: 1px solid #45afaf;">
            <p class="mb-0" style="font-size: 13px;">File Attachments</p>
        </div>
        <div class="card-body">
           
            <div class="row" [style.fontSize.px]="14" *ngIf="(operation == 'create' || operation == 'approve')&& !isFilesCountFive()">
                <div class="col-lg-6">
                    <div class="d-flex bd-highlight">
                       
                        <div class="w-50 flex-fill bd-highlight">
                            <div class="input-group" [ngClass]="{'upload-err': uploadFileForm.invalid && uploadFileForm.controls.uploadFile.touched}">
                                <div class="custom-file">
                                    <input type="file" (change)="fileSelectionChanges($event)" formControlName="uploadFile" class="custom-file-input" name="image" accept="image/x-png,image/jpeg">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-25"></div>
                    </div>
                </div>

            </div>
            <div class="row mt-2 text-center">
                <div class="col-md-2 d-flex justify-content-around" *ngFor="let file of files">
                  <div class="card file-preview-card">
                    <label class="custom-preview-label"> {{file.file.name}} </label>
                    <img [src]="file.previewUrl" height="120" width="185" />
                    <div class="card-body">
                      <i style="color: #45afaf; cursor: pointer;" class="material-icons" (click)="deleteImage(file.id)">delete</i>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row mt-2 text-center" *ngIf="operation == 'view' || operation == 'approve'">
                <div class="col-md-2 d-flex justify-content-around" *ngFor="let file of kaiInspectionSheetPhoto">
                  <div class="card file-preview-card">
                    <!-- <label> {{file.fileName}} </label> -->
                    <img src="{{fileStaticPath}}/{{file.fileName}}" height="120" width="185" />
                    <div class="card-body">
                        <a href="{{fileStaticPath}}/{{file.fileName}}" download>
                            <i style="color: #45afaf;" class="material-icons">cloud_download</i>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
           
        </div>
    </div>
</div>