<div class="container-fluid mt-4 mb-3">
    <form>
      <div class="row">
        <div class="col-lg-12">
          <div class="card-from">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between header">
                  <p class="mb-0">Search Attendance Sheet</p>
                  <div>
                    <button type="button" class="font-weight-bold btn btn_header bg_white btn-xs ml-2 "
                      [routerLink]="['./create']" routerLinkActive="router-link-active">
                      <b class="btnName">New</b>
                    </button>
                  </div>
                </div>
              </div>
              <app-attendance-sheet-search-page></app-attendance-sheet-search-page>
              <div class="text-center  mt-2 mb-2">
                <button type="button" class="btn  btn_primary px-3" (click)="getAttendanceSearchFormsearch()"> Search
                </button>
                <button type="button" class="btn  btn_primary px-3 ml-2" (click)="clear()"> Clear
                </button>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </form>
  </div>
  <div class="container-fluid">
    <ngsw-search-table [tableTitle]="'Search Result'" [dataTable]="dataTable" [totalElements]="totalTableElements"
      [actionButtons]="actionButtons" [searchValue]="searchValue" [clearSearchRow]="clearSearchRow"
      [clickOnTableFields]="[{title:'edit'},{title:'programNumber'}]" (actionOnTableRecord)="tableAction($event)"
      (pageChange)="pageChange($event)" [page]="page" [size]="size">
  
      <td [ngsw-searchField]="edit" [searchColumnName]="'edit'" class="edit">
        <input class="w-100 borderRadius" #edit>
      </td>
      <td [ngsw-searchField]="programNumber" [searchColumnName]="'programNumber'" class="programNumber">
        <input class="w-100 borderRadius" #programNumber [(ngModel)]="programNumberNgModel">
      </td>
      <td [ngsw-searchField]="programDate" [searchColumnName]="'programDate'" class="programDate">
        <input class="w-100 borderRadius" #programDate [(ngModel)]="programDateNgModel">
      </td>
      <td [ngsw-searchField]="startDate" [searchColumnName]="'startDate'" class="startDate">
        <input class="w-100 borderRadius" #startDate [(ngModel)]="startDateNgModel">
      </td>
      <td [ngsw-searchField]="endDate" [searchColumnName]="'endDate'" class="endDate">
        <input class="w-100 borderRadius" #endDate [(ngModel)]="endDateNgModel">
      </td>
      <td [ngsw-searchField]="trainingModuleDesc" [searchColumnName]="'trainingModuleDesc'" class="trainingModuleDesc">
        <input class="w-100 borderRadius" #trainingModuleDesc [(ngModel)]="trainingModuleDescNgModel">
      </td>
      <td [ngsw-searchField]="location" [searchColumnName]="'location'" class="location">
        <input class="w-100 borderRadius" #location [(ngModel)]="locationNgModel">
      </td>
      <!-- <td [ngsw-searchField]="nominationNumber" [searchColumnName]="'nominationNumber'" class="nominationNumber">
        <input class="w-100 borderRadius" #nominationNumber [(ngModel)]="nominationNumberNgModel">
      </td> -->
      <!-- <td [ngsw-searchField]="nomineeDate" [searchColumnName]="'nomineeDate'" class="nomineeDate">
        <input class="w-100 borderRadius" #nomineeDate [(ngModel)]="nomineeDateNgModel">
      </td> -->
      <!-- <td [ngsw-searchField]="trainingDate" [searchColumnName]="'trainingDate'" class="trainingDate">
        <input class="w-100 borderRadius" #trainingDate [(ngModel)]="trainingDateNgModel">
      </td> -->
      <!-- <td [ngsw-searchField]="attendance" [searchColumnName]="'attendance'" class="attendance">
        <input class="w-100 borderRadius" #attendance [(ngModel)]="attendanceNgModel">
      </td> -->
      <!-- <td [ngsw-searchField]="employeeCode" [searchColumnName]="'employeeCode'" class="employeeCode">
        <input class="w-100 borderRadius" #employeeCode [(ngModel)]="employeeCodeNgModel">
      </td> -->
<!--      
      <td [ngsw-searchField]="dealerName" [searchColumnName]="'dealerName'" class="dealerName">
        <input class="w-100 borderRadius" #dealerName [(ngModel)]="dealerNameNgModel">
      </td> -->
      <!-- <td [ngsw-searchField]="employeeName" [searchColumnName]="'employeeName'" class="employeeName">
        <input class="w-100 borderRadius" #employeeName [(ngModel)]="employeeNameNgModel">
      </td> -->
      <td [ngsw-searchField]="trainingLocDesc" [searchColumnName]="'trainingLocDesc'" class="trainingLocDesc">
        <input class="w-100 borderRadius" #trainingLocDesc [(ngModel)]="trainingLocDescNgModel">
      </td>
    </ngsw-search-table>
  </div>