<div class="card-from mt-2" *ngIf="loginUserType!=='dealer' && isActivityCategoryKai">
    <div class="card" style="border: 1px solid #45afaf;">
        <div class="card-header" style="background-color: #45afaf;
                              border: 1px solid #45afaf;">
            <p class="mb-0" style="font-size: 13px;">Approval Details</p>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-1">
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Approval Status</th>
                            <th scope="col">Is Final Approver?</th>
                            <th scope="col">Approved By</th>
                            <th scope="col">Approval Date</th>
                            <th scope="col">Approved Amount</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let approval of approvalHierDetails">
                            <td align="left">{{approval['approvalStatus']}}</td>
                            <td >{{approval['isFinalApprover']}}</td>
                            <td >{{approval['approvedBy']}}</td>
                            <td >{{approval['approvalDate']}}</td>
                            <td >{{approval['approved_amount']}}</td>
                            <td >{{approval['approverRemarks']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>