<div class="container-fluid">
    <div class="table-responsive mt-1" *ngIf="isShownTable">
        <div [formGroup]="materialTableForm">
            <table class="table w-100 table-bordered table-sm" formArrayName="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">Aggregate</th>
                        <th scope="col">Check Point</th>
		                <th scope="col">Specification</th>
                        <th scope="col">Ok</th>
                        <th scope="col">Remark</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr *ngFor="let option of materialTableForm.get('table')['controls']; let i = index;"
                        [formGroupName]="i">

                        <td style="vertical-align: middle;" [attr.contenteditable]="false" [textContent]="i+1"> </td>

                        <td style="vertical-align: middle;" class="text-left" [attr.contenteditable]="false"
                            [attr.rowspan]="getRowSpan(option.get('aggregate')  , i)"
                            [style.display]="getRowSpan(option.get('aggregate')  , i) ? '' : 'none'"
                            [textContent]="option.get('aggregate').value"> </td>

                        <td style="vertical-align: middle;" class="text-left" [attr.contenteditable]="false"
                            [textContent]="option.get('checkpointDesc').value"> </td>

                        <td style="vertical-align: middle;" [attr.contenteditable]="false"
		                  [textContent]="option.get('observedSpecification').value"
		                  *ngIf="!isView && option.get('fieldType').value==='CHECK BOX'">
		                </td>
		                <td style='vertical-align: middle' *ngIf="!isView && option.get('fieldType').value==='DROP DOWN'">
		                  <mat-form-field appearance="outline"
		                      [style.fontSize.px]="11" class="w-100">
		                      <mat-label>Select</mat-label>
		                      <mat-select formControlName="observedSpecification"
                              (click)="checkListChange($event,option.get('checkpointId').value)" required>
		                          <mat-option *ngFor="let code of pdiCheckListDropDown"
		                              [value]="code.observedSpecification">
		                              {{code.observedSpecification}}</mat-option>
		                      </mat-select>
		                  </mat-form-field>
		                </td>
		                <td style="vertical-align: middle;" [attr.contenteditable]="false"
		                  [textContent]="option.get('observedSpecification').value"
		                  *ngIf="isView">
		                </td>
		                <td style="vertical-align: middle;" >
		                  <mat-checkbox color="basic" [checked]="option?.defaultTick" (change)="onChange($event, option)"
		                    formControlName="defaultTick">
		                  </mat-checkbox>
		                </td>
                        <td style="vertical-align: middle;" class="text-center">
                            <mat-form-field appearance="outline" [style.fontSize.px]="11">
                                <input matInput formControlName="remark">
                                <mat-error *ngIf="materialTableForm.get('table')?.get('remark')?.hasError('required')">
                                    Remark Required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-responsive mt-1" *ngIf="isShownTable">
        <div [formGroup]="materialTableFormSecond">
            <table class="table  w-100  table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col-3"> </th>
                        <th scope="col-3">Ok</th>
                        <th scope="col-6">Remark</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="vertical-align: middle;" class="text-left" scope="col-3 ">PDI</td>
                        <td style="vertical-align: middle;" scope="col-3 ">
                            <mat-checkbox color="basic" [checked]="checked" (change)="onChangeStatic($event)"
                                formControlName="staticChecked">
                            </mat-checkbox>
                        </td>
                        <td style="vertical-align: middle;" class="text-center" scope="col-6">
                            <mat-form-field appearance="outline" [style.fontSize.px]="11">
                                <input matInput formControlName="staticRemark">
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>