.form_main_container {
  form {
    // border: 1px solid red;

    mat-form-field {
      ::ng-deep.mat-form-field-wrapper {
        // margin: 0px;
        margin: 0px;

        .mat-form-field-appearance-outline {
          margin: 0px;
        }
      }
    }
  }
}

h5 {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

mat-form-field.mat-form-field {
  font-size: 10px;
}
