<div class="card-from mt-2 mb-2">
    <div class="card" style="border: 1px solid #45afaf;">
      <div class="card-header" style="background-color: #45afaf;
      border: 1px solid #45afaf;">
        <p class="mb-0" style="font-size: 13px;">Lost/Drop Enquiry </p>
      </div>
      <div class="card-body">

          <form [formGroup]="resultEnquiryForm" [style.fontSize.px]="10">
              <div class="row">
  
                <div class="col-lg-2 ">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Result</mat-label>
                      <mat-select [(value)]="selected" (selectionChange)="selectionResult($event.value)" formControlName="result" required>
                        <mat-option *ngFor="let option of dropDownResult?.result" [value]="option?.result">{{option?.result}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              <div class="row" *ngIf="selected">

                <div class="col-lg-2 ">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Lost/Drop Reason</mat-label>
                    <mat-select required formControlName="lostDrop" (selectionChange)="selection($event.value)">
                      <mat-option *ngFor="let option of dropDownLostDrop?.result" [value]="option?.lostDropReason">{{option?.lostDropReason}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
    
                <div class="col-lg-4">
                  <mat-form-field appearance="outline">
                      <mat-label>Remarks </mat-label>
                      <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
                  </mat-form-field>
                </div>
    
                <div class="col-lg-2 " *ngIf="showLostDrop">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand">
                      <mat-option *ngFor="let brand of dropDownBrand?.result" [value]="brand?.brand">
                        {{brand?.brand}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
    
                <div class="col-lg-2" *ngIf="showLostDrop">
                  <mat-form-field appearance="outline">
                    <mat-label>Model </mat-label>
                    <input matInput placeholder=" Model" formControlName="model">
                  </mat-form-field>
                </div>
    
                <div class="col-lg-2 " *ngIf="showLostDrop">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Reason</mat-label>
                    <mat-select formControlName="reason">
                      <mat-option *ngFor="let option of dropDownReason?.result" [value]="option?.reason">{{option?.reason}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
    
                <div class="col-lg-10 "></div>
                <div class="col-lg-2 text-right mb-2">
                    
                        <a class=" font-weight-bold pt-0" style="color: #007bff;" [style.fontSize.px]="15"
                        (click)="selected = !selected">
                        <u> {{selected ? 'Hide Details' : 'Show Details'}}</u>
                    </a>
    
                </div>
    
             </div>
            </form>
      </div>
    </div>
  </div>