@import "./breakpoints";
@import "./theme";
::ng-deep mat-sidenav-container {
  background-color: white !important;
  mat-sidenav {
    background-color: #00a8a9 !important;
    .mat-drawer-inner-container {
      .side-nav-border {
        height: 90vh;
      }

      .mat-list-base .mat-list-item .mat-list-item-content,
      .mat-list-base .mat-list-option .mat-list-item-content {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0 0px;
        position: relative;
        height: inherit;
      }
      .mat-list-item-content {
        font-size: 14px !important;
        margin-left: -25px !important;
      }
    }
  }
  mat-sidenav-content {
    min-height: 700px !important;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaaa;
    background-color: white;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(59, 123, 163);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 115, 153);
  }
}

::ng-deep .card-from {
  .card {
    border: 1px solid #00a8a9;
    box-shadow: none;
    .card-header {
      background-color: #00a8a9;
      border: 1px solid #00a8a9;
      color: white;
      padding: 0rem 1.25rem !important;
      font-weight: normal;
    }
    mat-form-field {
      width: 100%;
      mat-label {
        color: #313131;
      }
    }

    table {
      text-align: center;
      color: black;
    }
    th,
    td {
      font-size: 13px;
    }
    table.table-sm th {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-right: 0.3rem;
    }
    table.table-sm td {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-right: 0.3rem;
    }
  }
}

//-----checkbox-----------
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: gray;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #00a8a9;
}

.mat-sidenav {
  width: 270px;
}
.mat-sidenav-container {
  background-color: white !important;
  // height: 100vh;
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  float: right;
  padding: 8px;
}
.img-height {
  min-height: 0px !important;
}

.breadcrumb {
  background-color: white !important;
  margin-bottom: 0rem;
  padding: 0.5rem 0.5rem !important;

  .breadcrumb-item {
    font-size: 12px;

    a {
      color: #445159 !important;
    }

    .active_page {
      color: #445159 !important;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;

    // padding-right: 0.5rem;
    color: #445159;
    content: ">";
  }
}
