

	.linkGreyBg{text-decoration:none; color:#FFFFFF;  font-size: 11px; height:25px;}
	a{text-decoration:none; color:#000000;  font-size: 11px;}
	a:hover{text-decoration:underline;}
	/*.formLabel {font-family: Arial, Helvetica, sans-serif; font-size: 12px; }*/
	.formLabel {font-size: 11px;  }
	.formCatHeading {
				background-color:#999999;
				color:#FFFFFF;
				height:30px;
			}
	.formCatHeading1 {
				background-color:#00CCFF;
				color:#000000;
				height:30px;
			}
	.topHeader {
				background-color:#6699CC;
				height:30px;
				}
	
        .formHeader {background-color:#CCCCCC;height:25px;}
	.formHeader a{display:block; line-height:25px;}
	.formHeader a:hover{background-color:#6699CC;text-decoration:none; color:#fff;}

	.formSelectedHeader {background-color:#666666;}
        
	.LiteBorder {border:solid 1px #E8E8E8;}
	.DarkBorder {border:solid 1px #000;}
	input[type="radio"]{
			background-color:#EEE;
			width:15px;
			height:15px;			
			border:solid 1px #CCCCCC;
                        

			}
                        
                        input[type="radio"]{
			background-color:#EEE;
			width:20px;
			height:15px;			
			border:solid 1px #CCCCCC;

			}
	.checknew{
				background:none!important;
				width:100px;
				height:25px;
				border:solid 1px #CCCCCC;
                                 line-height: 25px
				}
	label{
				text-transform:uppercase;
				}							
	input[type="button"]{
				background-color:#EEE;
				color:#CC0000; 
				padding:2px 10px;
				text-transform:uppercase;
				border:solid 1px #999999;
                                font-size: 12px;
				}				
	textarea{
                                background-color:#fff;
				width:98%;
				border:solid 1px #CCCCCC;
				}
	select {
				background-color:#EEE;
				width:94px!important;
				height:22px;
				border:solid 1px #CCCCCC;
				overflow: hidden;
				text-overflow: ellipsis;
    			white-space: nowrap;
                        padding-bottom: 1px;
                        text-indent: 5px;
                        margin:0 auto;
                        font-size: 11px;
                        margin-left: 5px;
				}
      select[type="list"] {
				background-color:#EEE;
				width:100px;	
				height:60px;
                                margin:0px;
                                padding:0px;
				border:solid 1px #CCCCCC;
				overflow: hidden;
				text-overflow: ellipsis;
    			white-space: nowrap;
				}

      select[type="multi"] {
				background-color:#EEE;
				width:100px;
				height:150px;
				border:solid 1px #CCCCCC;
				overflow: hidden;
				text-overflow: ellipsis;
    			white-space: nowrap;
				}
                                
   select:focus {
    width: auto;
    position: relative;
}
	title{
				background-color:#EEE !important;
				}
			
	.AmountTxtBox{
				text-align:right;
				background-color:#EEE;
				width:75px !important;
				height:25px;
				border:solid 1px #CCCCCC;
				}

        input[type="file"] {
        background-color: #EEE;
        color: #000000!important;
        padding: 0px 0px;
        border: solid 1px #999999;
        width: 250px;
        }
        
        input[type="text"]{
				background-color:#fff;
				width:90px;
				height:22px;
                                line-height:22px;
				border:solid 1px #CCCCCC;
                                font-size: 11px;
                                 margin-left: 5px;
                                 padding-left: 2px;
				}


                                input[readonly="readonly"]{
				background-color:#EEE;
				
				}

                               input:read-only{
				background-color:#EEE;

				}
                               input:-moz-read-only { /* For Firefox */
                                 background-color:#EEE;
                                }
.textbox{width:50px!important;}
