/* 
    Document   : question
    Created on : Apr 11, 2014, 3:24:15 PM
    Author     : Avinash.Pandey
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{margin:0px; padding:0px; background:#fff; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
.main{width:980px; height:auto; margin:0 auto; border:solid 1px #ccc;}
.block{width:980px; background:url(../images/nav-bg.jpg) repeat-x; height:29px; margin:0 auto; font-weight:bold; line-height:29px; text-align:center; color:#FFF; border:solid 1px #1d475d;}
.main h4{font-size:12px; font-weight:bold; margin:0px; padding:10px 0 5px 15px; text-align: left;}
.vehicle{width:950px; margin:10px auto;    }
.inputbox{width:38px; height:24px; line-height:24px; background:#fff; border:solid 1px #666; padding:0 0 0 5px;}
.text_l{padding:0 0 0 5px;}
.border{border:solid 1px #000;  background:#eee;}
.textbox{width:200px; height:24px; line-height:24px; background:#fff; border:solid 1px #666; padding:0 0 0 5px;}
.forButton{width: 80px; height: 30px;  background:url(../images/nav-bg.jpg) repeat-x; cursor:pointer; color:#fff; border:solid 1px #000; margin:0 auto; text-align: center;}
.box{width: 80px; height: 30px; margin:0 auto 10px;}
select{float:left; margin: 3px 0 0 5px; height:24px;}