<div class="card-from mt-2 mb-2">
  <div class="card" style="border: 1px solid #45afaf;">
    <div class="card-header" style="background-color: #45afaf;
              border: 1px solid #45afaf;">
      <p class="mb-0" style="font-size: 13px;">Address Details</p>
    </div>
    <div class="card-body">

      <div [formGroup]="customerMasterAddressDetailsForm" [style.fontSize.px]="11">
        <!-- <div class="row">

          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Address Type</mat-label>
              <mat-select required formControlName="addressType" (selectionChange)="selection($event.value)">
                <mat-option *ngFor="let address of preferedaddress" [value]="address">{{address}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="card-from mb-2" *ngIf="hasTable">
          <div class="card" style="border: 1px solid #45afaf;">
            <div class="card-header" style="background-color: #45afaf;
                          border: 1px solid #45afaf;">
              <p class="mb-0" style="font-size: 13px;">{{changeName}}</p>
            </div>
            <div class="card-body"> -->

              <div class="row">

                <div class="col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Address 1</mat-label>
                    <input matInput placeholder="Address 1" required formControlName="address1">
                  </mat-form-field>
                </div>

                <div class="col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Address 2</mat-label>
                    <input matInput placeholder="Address 2" formControlName="address2">
                  </mat-form-field>
                </div>

                <div class="col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Address 3</mat-label>
                    <input matInput placeholder="Address 3" formControlName="address3">
                  </mat-form-field>
                </div>

                <div class="col-lg-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Districtssss</mat-label>
                    <mat-select  formControlName="district" required (selectionChange)="selectionDistrict($event)">
                      <mat-option *ngFor="let option of dealerInformation" [value]="option">
                        {{option?.district}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="customerMasterAddressDetailsForm.get('district').hasError('required')">
                      District is Required</mat-error>
                  </mat-form-field>
                </div>
      
                <div class="col-lg-2">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Pin Code</mat-label>
                    <input matInput placeholder="Pin Code" required formControlName="pinCode" [matAutocomplete]="autoPincode"
                      minlength="6" maxlength="6">
                    <mat-autocomplete #autoPincode="matAutocomplete" 
                    (optionSelected)="optionSelectedPinCode($event)"
                      [displayWith]="displayFnForPinCode" [panelWidth]="500">
                      <mat-option *ngFor="let option of (pinCode$ | async)" [value]="option">
                        {{option?.value}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                    <mat-error *ngIf="customerMasterAddressDetailsForm.get('pinCode').hasError('required')">
                      Pin Code is Required</mat-error>
                    <mat-error *ngIf="customerMasterAddressDetailsForm.get('pinCode').hasError('selectFromList')">
                      Please select from list</mat-error>
                  </mat-form-field>
                </div>

                 <div class="col-lg-2">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Post Office</mat-label>
                    <input matInput placeholder="Post Office" required formControlName="postOffice">
                  </mat-form-field>
                </div>
      
                <div class="col-lg-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>City/Village</mat-label>
                    <input matInput placeholder="City/Village" formControlName="city">
                  </mat-form-field>
                </div>

                <div class="col-lg-2">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tehsil/Taluka/Mandal</mat-label>
                    <input matInput placeholder="Tehsil/Taluka/Mandal" formControlName="tehsil" >
                  </mat-form-field>
                </div>
      
                <div class="col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State" formControlName="state">
                  </mat-form-field>
                </div>
      
                <div class="col-lg-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Country" formControlName="country">
                  </mat-form-field>
                </div>
                
              </div>
              <!-- <app-customer-address></app-customer-address> -->
           <!--  </div>

          </div>
        </div> -->


        <!-- <div class="card-from mb-2" *ngIf="showoffice" id="divshow">
        <div class="card" style="border: 1px solid #45afaf;">
          <div class="card-header" style="background-color: #45afaf;
                          border: 1px solid #45afaf;">
            <p class="mb-0" style="font-size: 13px;">Office Details</p>
          </div>
          <div class="card-body">
            <app-customer-address></app-customer-address>
          </div>

        </div>
      </div> -->


      </div>

    </div>
  </div>
</div>