@media(min-width:681px){
  .breadcrumb {
    background-color: white !important;
    margin-bottom: 0;
    width: 100%;
    margin-top: -5px;
    padding: .5rem !important;
    position: fixed;
    z-index: 1030;
  
    .breadcrumb-item {
      font-size: .813em;
      font-weight: 500;
  
      a {
        // color: #445159 !important;
        color: #00a8a9;
      }
  
      .active_page {
        color: #445159 !important;
        // color: #00a8a9
      }
    }
  
    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      // padding-right: 0.5rem;
      color: #445159;
      content: ">";
    }
  }
}
@media(max-width:680px){
  .breadcrumb {
    background-color: white;
    margin-bottom: 0;
    width: 100%;
    margin-top: -5px;
    padding: .5rem !important;
    position: fixed;
    z-index: 1030;
  
    .breadcrumb-item {
      font-size: .813em;
      font-weight: 500;
  
      a {
        // color: #445159 !important;
        color: #00a8a9;
      }
  
      .active_page {
        color: #445159 !important;
        // color: #00a8a9
      }
    }
  
    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      // padding-right: 0.5rem;
      color: #445159;
      content: ">";
    }
  }
}
@media(min-width:500px){
  .version {
    position: fixed;
    background-color: white;
    color: gray;
    float: right;
    z-index: 1030;
    font-size: 10px;
    right: 15px;
  }
}

@media(max-width: 499px){
  .version {
    // position: fixed;
    // background-color: white;
    // color: gray;
    // float: right;
    // z-index: 1030;
    // font-size: 10px;
    // right: 15px;
    display: none !important;
  }
}