.text_color {
  color: $color_text !important;
}

.text_primary {
  color: $color_primary !important;
}
.text_secondary {
  color: $color_secondary !important;
}
.text_title {
  color: $color_title !important;
}
.bg_primary {
  background-color: $color_primary !important;
}
.bg_secondary {
  background-color: $color_secondary !important;
}
.bg_info {
  background-color: $color_secondary_1 !important;
}
.bg_silver {
  background-color: $color_silver !important;
}
.bg_white {
  background-color: $color_white;
}
