table.table-sm td {
    padding-top: .3rem;
    padding-bottom: 0rem;
    padding-right: .3rem;
  }

  .quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
 -webkit-appearance: none; 
 margin: 0; 
}