<app-machine-descripancy-claim-create></app-machine-descripancy-claim-create>

<!-- <div class="container-fluid create-form  mt-3 mb-3">
    <div class="heading">
        <p class="font-weight-bold"> Machine Descripancy Claim</p>
    </div>

    <div class="card-from">
        <div class="card">
            <div class="card-header">
                <p class="mb-0"> Machine Descripancy Claim</p>
            </div>
            <div class="card-body">
               <app-machine-descripancy-claim-create></app-machine-descripancy-claim-create>
            </div>
            <div class=" text-center mt-2 mb-2">
                <button type="button" class="btn btn_primary pl-3 pr-3">Go Back
                </button>
                <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Approve
                </button>
                <button type="button" class="btn btn_primary pl-3 pr-3 ml-3 ">Reject
                </button>
                <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Clear
                </button>
                <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Exit
                  </button>
            </div>


        </div>
    </div>
</div> -->