<div class="container confirmation_card">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card_header card_header_secondary mb-2">
            <h4 class="card_title mb-0"> Change Password</h4>
            <i class="material-icons icon_close" (click)="close()">
              close
            </i>
          </div>
          <div class="container-fluid card_body">      
            <form [formGroup]="passwordResetForm" [style.fontSize.px]="10" class="border p-2" >
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Old Password</mat-label>
                      <input matInput type='password' placeholder="Old Password" formControlName="oldPassword" (keypress)="preventWhiteSpace($event)" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                    </mat-form-field>
                    <mat-error *ngIf="passwordResetForm.get('oldPassword').hasError('oldPasswordError')">{{oldPasswordError}}</mat-error>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput  type='password' maxlength="15" pattern="^(?=.{8,})(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^&+*!=]).*$" placeholder="New Password" formControlName="newPassword" (keypress)="preventWhiteSpace($event)" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                      </mat-form-field>
                      <mat-error *ngIf="passwordResetForm.get('newPassword').hasError('newPasswordError')">{{newPasswordError}}</mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput placeholder="Confirm New Password" maxlength="15" formControlName="confirmPassword" (keypress)="preventWhiteSpace($event)" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                      </mat-form-field>
                      <mat-error *ngIf="passwordResetForm.get('confirmPassword').hasError('confirmPasswordError')">Password does not match</mat-error>
                    </div>
                  </div>
            </form>
          </div>
          
          <div id='restrictions'>
            <ul>
               <li>Password should be minimum 8 characters in length and maximum 15 characters in length</li>
               <li>It should contain  1 upper case letter and 1 special character and 1 number</li> 
               <li>Re-use of the last 3 old passwords is not allowed</li>
               <li>Password change must be done for every 120 days</li>
               <li>Wrong entry of password for 5 times will lock the account</li>
            </ul>
          </div>

        <div class="container-fluid card_footer m-2">
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn button mr-2" [ngClass]="{'button_color_green':true}" (click)="submit()"> Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>