.btnName {
  color: #00a8a9;
}

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: 1;
  border-radius: .2rem;
}

.header {
  margin-bottom: 1px;
}

:host {
  ::ng-deep ngsw-search-table {
    td,
    th {
      width: 180px;
    }

    .sr_no {
      width: 55px;
    }

    .action {
      width: 80px;
    }

    .Machine_Model {
      width: 100px;
    }

    .PDI_Date {
      width: 165px;
    }

    .KAI_Invoice_Number {
      width: 170px;
    }

    .Chassis_Number {
      width: 164px;
    }

    .Engine_Number {
      width: 168px;
    }
  }
}
