<div class="row" [style.fontSize.px]="11" [formGroup]="logForm">
    <div class="col-lg-2" *ngIf="isView || isEdit">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Log No.</mat-label>
            <input matInput placeholder="Log No." formControlName="logsheetNo">
        </mat-form-field>
    </div>

    <div class="col-lg-2" *ngIf="isView || isEdit">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Log Sheet Date</mat-label>
            <input readonly matInput [matDatepicker]="picker" placeholder="Log Sheet Date" formControlName="logsheetDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="isView || isEdit">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <input matInput placeholder="Log No." formControlName="status">
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Log Sheet Type</mat-label>
            <mat-select formControlName="logsheetType">
                <mat-option *ngFor="let value of logsheetType" [value]="value.logsheetType">{{value.logsheetType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Against Job Card' ">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Job Card No.</mat-label>
            <input #input matInput placeholder="Job Card No." formControlName="jobCardNo" [matAutocomplete]="auto">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete  [displayWith]="displayCodeFn" autoActiveFirstOption 
                #auto="matAutocomplete" (optionSelected)="getJobCardDetails($event)" [panelWidth]="350" >
                <mat-option *ngFor="let option of autoCompleteDataJob" [value]="option">
                    {{option.value}}
                  </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="logForm.get('jobCardNo').hasError('selectFromList')">Please select from list</mat-error>
        </mat-form-field>
    </div>
    <!-- <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Against Job Card'  && (isView || isEdit)">
        <mat-form-field appearance="outline">
            <mat-label>Job Card No.</mat-label>
            <input matInput placeholder="Job Card No."  formControlName="jobCardNo">
        </mat-form-field>
    </div> -->
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Manual Entry' && !isView && !isEdit">
        <mat-form-field appearance="outline">
            <mat-label>Chassis Number</mat-label>
                <input #input matInput placeholder="Chassis Number" formControlName="chassisNo" [matAutocomplete]="auto1">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete  [displayWith]="displayCodeFn" autoActiveFirstOption #auto1="matAutocomplete" (optionSelected)="getChassisDetailsByChassisNoInJobCard($event)" [panelWidth]="350">
                    <mat-option *ngFor="let option of autoCompleteDataChassis" [value]="option">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>  
                <mat-error *ngIf="logForm.get('chassisNo').hasError('selectFromList')">Please select from list</mat-error>          
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Manual Entry' && (isView || isEdit)" >
        <mat-form-field appearance="outline">
            <mat-label>Chassis Number</mat-label>
            <input matInput placeholder="Chassis Number"  formControlName="chassisNo">
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Against Job Card'">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Job Card Date</mat-label>
            <input readonly matInput [matDatepicker]="picker1" placeholder="Job Card Date"  formControlName="jobCardDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date Of Installation</mat-label>
            <input readonly matInput [matDatepicker]="picker2" placeholder="Date Of Installation"  formControlName="installationDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput placeholder="Customer Name"  formControlName="customerName">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Machine Model</mat-label>
            <input matInput placeholder="Machine Model"  formControlName="model">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date Of Failure</mat-label>
            <input readonly matInput [matDatepicker]="picker3" placeholder="Date Of Failure"  formControlName="failureDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Customer Address</mat-label>
            <input matInput placeholder="Customer Address"  formControlName="address">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Customer Cell Number</mat-label>
            <input matInput placeholder="Customer Cell Number"  formControlName="mobileNumber">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Registration Number</mat-label>
            <input matInput placeholder="Registration Number"  formControlName="registrationNumber">
        </mat-form-field>
    </div>
   
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Engine Number</mat-label>
            <input matInput placeholder="Engine Number"  formControlName="engineNo">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Hours</mat-label>
            <input matInput placeholder="Hours"  formControlName="hours">
        </mat-form-field>
    </div>
    <div class="col-lg-2" >
        <mat-form-field appearance="outline">
            <mat-label>Sold To Dealer</mat-label>
            <input matInput placeholder="Sold To Dealer" formControlName="soldToDealer" >
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Against Job Card'">
        <mat-form-field appearance="outline">
            <mat-label>Service Dealer</mat-label>
            <input matInput placeholder="Service Dealer"  formControlName="serviceDealer">
        </mat-form-field>
    </div>
    <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Against Job Card'">
        <mat-form-field appearance="outline">
            <mat-label>Service Dealer City</mat-label>
            <input matInput placeholder="Service Dealer City"  formControlName="serviceDealerAddress">
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Crop</mat-label>
            <mat-select  formControlName="crop">
                <mat-option *ngFor="let value of majorCropGrown" [value]="value.cropGrown">{{value.cropGrown}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Crop Condition</mat-label>
            <mat-select  formControlName="cropCondition">
                <mat-option *ngFor="let value of cropCondition" [value]="value.fieldCondition">{{value.fieldCondition}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Failure Type</mat-label>
            <mat-select  formControlName="failureType">
                <mat-option *ngFor="let value of failureType" [value]="value.failureType">{{value.failureType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Soil Type</mat-label>
            <mat-select  formControlName="soilType">
                <mat-option *ngFor="let value of soilType" [value]="value.soilType">{{value.soilType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Field Condition</mat-label>
            <mat-select  formControlName="fieldCondition">
                <mat-option *ngFor="let value of fieldCondition" [value]="value.fieldCondition">{{value.fieldCondition}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-lg-2 text-left" >
        <div class="form-check mt-2">
            <mat-checkbox color="basic" style="font-size: 12px;" (change)="selectFailure($event)" formControlName="repeatFailure">
                Repeat Failure</mat-checkbox>
        </div>
    </div>

    <div class="col-lg-2" *ngIf="isChecked">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>No. Of Times</mat-label>
            <input matInput placeholder="No. Of Times" formControlName="noOfTime">
            <mat-error *ngIf="logForm.get('noOfTime').errors?.min">Number should be greater than 1.</mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-2"  *ngIf="logForm.get('logsheetType').value == 'Manual Entry'" >
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Link Job Card No.</mat-label>
            <input #input matInput placeholder="Job Card No." formControlName="linkjobCardNo" [matAutocomplete]="auto">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete  [displayWith]="displayCodeFn" (optionSelected)="getPcrNumberByJobCardId($event)"
                #auto="matAutocomplete" [panelWidth]="350" >
                <mat-option *ngFor="let option of autoCompleteDataJob" [value]="option">
                    {{option.value}}
                  </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="logForm.get('linkjobCardNo').hasError('selectFromList')">Please select from list</mat-error>
        </mat-form-field>
    </div>
    <!-- <div class="col-lg-2" *ngIf="logForm.get('logsheetType').value == 'Manual Entry' && (isView || isEdit)" >
        <mat-form-field appearance="outline">
            <mat-label>Link Job Card No</mat-label>
            <input matInput placeholder="Link Job Card No"  formControlName="linkjobCardNo">
        </mat-form-field>
    </div> -->
    <div class="col-lg-2">
        <mat-form-field appearance="outline">
            <mat-label>PCR No</mat-label>
            <input matInput placeholder="PCR No"  formControlName="pcrNumber">
        </mat-form-field>
    </div>
</div>