<div class="card-body" [style.fontSize.px]="11" [formGroup]="searchForm">
    <div class="row">
        <div class="col-lg-2">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Retrofit Number.</mat-label>
                <input matInput placeholder="Retrofit Number" formControlName="retrofitmentNumber" [matAutocomplete]="auto">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of autoCompleteData" [value]="option.value">
                      {{option.value}}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let value of status" [value]="value.status">{{value.status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2" >
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="From Date" formControlName="fromDate" [max]="newdate" (dateChange)="setToDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="To Date" formControlName="toDate" [min]="fromDates" [max]="toDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>