$color_sky_blue: #2697a7;
$color_light_blue: #4a90e2;
$color_gray: #808080;
$color_blue: #4431b4;
$color_white: #ffffff;
$color_comment_bg: #4cbfb8;
$color_primary: #ee1b23;
$color_secondary: #236c8d;
$color_secondary_1: #5991fa;
$color_light_gray: #aaaaaa;
$color_text: #989898;
$color_box_shadow: #989898;
$color_disabled: #aaaaaa;
$color_title: #4e4e4e;
$color_silver: #edeef3;
$color_green: #008000;
$color_eastern_blue: #00a8a9;
