
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    }

    .overflow{
      overflow-x: scroll !important;
    }
    
    .pointerTag:hover{
    	cursor : pointer
    }