table {
    width: 100%;
    text-align: center;
    color:black;
  }
  th{
    font-weight: bold
  }
  th, td{
    font-size: 12px;
  }  
  table.table-sm th {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .3rem;
    width: 17rem;
  }
  .input{
    width: 100px;
    border-radius: 3px;
    border: 1px solid lightgray;
  }
.data{
  width: 200px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.data1{
  width: 150px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
.data2{
  width: 125px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
  mat-option{
    color: black !important;
  }
  .btn_primary {
    border: 1px solid transparent !important;
    color: #ffffff !important;
    background-color: #028383 !important;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaaa; 
  border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e0e2e4; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e2e4; 
  }
