<div class="container-fluid mt-4 mb-3">
    <div class="mt-2">
    	 <!-- space for ngsw search table -->
     <ngsw-search-table [tableTitle]="'Search Result'" [dataTable]="dataTable" [totalElements]="totalTableElements"
      (actionOnTableRecord)="tableAction($event)" [clickOnTableFields]="[{ title: 'edit', isClickable: true }]" 
      (pageChange)="pageSizeChange($event)" [searchValue]="searchValue" [actionButtons]="actionButtons">
      <td></td>
      <td [ngsw-searchField]="customerCode" [searchColumnName]="'customerCode'">
          <input class="w-100 borderRadius" #customerCode />
      </td>
      <td [ngsw-searchField]="customerType" [searchColumnName]="'customerType'">
          <input class="w-100 borderRadius" #customerType />
      </td>
      <td [ngsw-searchField]="customerName" [searchColumnName]="'customerName'">
          <input class="w-100 borderRadius" #customerName />
      </td>
      <td [ngsw-searchField]="customerAddress" [searchColumnName]="'customerAddress'">
          <input class="w-100 borderRadius" #customerAddress />
      </td>
      <td [ngsw-searchField]="mobileNo" [searchColumnName]="'mobileNo'">
          <input class="w-100 borderRadius" #mobileNo />
      </td>
      <td [ngsw-searchField]="city" [searchColumnName]="'city'">
          <input class="w-100 borderRadius" #city />
      </td>
      <td [ngsw-searchField]="district" [searchColumnName]="'district'">
          <input class="w-100 borderRadius" #district />
      </td>
      <td [ngsw-searchField]="state" [searchColumnName]="'state'">
          <input class="w-100 borderRadius" #state />
      </td>
     </ngsw-search-table>
     
    </div>
</div>

