<div class="card-from mt-2">
    <div class="card">
        <div class="card-header">
            <p class="mb-0">Complaint</p>
        </div>
        <div class="card-body" [formGroup]="complaintForm">
            <div class="table-responsive mt-1">
                    <table class="table w-100 table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SL No. </th>
                                <th scope="col" *ngIf="isView">Complaint No </th>
                                <th scope="col">Department </th>
                                <th scope="col">Designated Person</th>
                                <th scope="col">Type Of Complaint </th>
                                <th scope="col">Description</th>
                                <th scope="col" *ngIf="isView">Action Taken</th>
                                <th scope="col" *ngIf="!isView"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let option of complaintForm['controls']; let i = index;">
                                <td>{{i+1}}</td>
                                <td *ngIf="isView">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="ComplaintNo"
                                            [formControl]="option.get('complaintNo')">
                                    </mat-form-field>
                                </td>
                                <td style="width: 22%;">
                                    <mat-form-field appearance="outline" [style.fontSize.px]="10">
                                        <mat-select  placeholder="Department" [formControl]="option.get('department')">
                                            <mat-option *ngFor="let dept of departmentList" [value]="dept.lookupval" (click)="openComplaintAssignPopup(option)">
                                                {{dept.lookupval}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="option.get('department').hasError('deptError')">
                                            Please Select Department
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline" [style.fontSize.px]="10">
                                        <input matInput placeholder="Designated Person"
                                            [formControl]="option.get('assignTo')">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline" [style.fontSize.px]="10">
                                        <mat-select  placeholder="Type Of Complaint" [formControl]="option.get('typeOfComplaint')"  (selectionChange)="validateDepartment(option,'typeOfComplaint')">
                                            <mat-option *ngFor="let type of typeOfComplaint" [value]="type.lookupval">
                                                {{type.lookupval}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline" [style.fontSize.px]="10">
                                        <input matInput placeholder="Description"
                                            [formControl]="option.get('description')">
                                    </mat-form-field>
                                    <!-- Blank -->
                                </td>
                                <td *ngIf="isView">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Remarks"
                                            [formControl]="option.get('actionTaken')">
                                    </mat-form-field>
                                </td>
                                <td *ngIf="!isView"  style="vertical-align: middle;" ><mat-icon type="button" (click) = "deleteRow(i)">delete</mat-icon></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div *ngIf="!isView" class=" text-center mt-2 mb-3">
                <button type="button" class="btn btn-sm btn_primary " (click)="addRow()"> Add</button>
            </div>

            <div  class="row" [formGroup]="complainRecordingForm">
                <div *ngIf="!isView" class="d-flex bd-highlight col-lg-6">
                    <div class="w-50 flex-fill bd-highlight">
                        <div class="input-group">
                            <div class="custom-file">
                                <label class="custom-file-label">Complaint Recording</label>
                                <input type="file"  (change)="uploadRecording($event)" class="custom-file-input" accept=""  formControlName="complainRecording" >
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-6" *ngIf="viewTable">
                <table class="table w-100 table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>File Name</th>
                            <th>Recording </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of files, let i= index">
                            <td style="vertical-align: middle;" >{{i+1}}</td>
                            <td *ngIf="isCreate" style="vertical-align: middle;" >{{file.file.name}}</td>
                            <td *ngIf="isView || isEdit"style="vertical-align: middle;" >{{file.file}}</td>
                            <td *ngIf="isCreate"><audio [src]="file.previewUrl"   height="10" controls></audio></td>
                            <td *ngIf="isView || isEdit"><audio [src]="file.previewUrl"   height="10" controls></audio></td>
                            <td *ngIf="isCreate || isEdit"  style="vertical-align: middle;" ><mat-icon type="button" (click)="deleteAudio(file.id)">delete</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            
        </div>
    </div>
