.table{
    border-top: 1px solid transparent; 
   }
  table {
    width: 100%;
    color:black;
  }
  th{
    font-weight: bold
  }
  th, td{
    font-size: 12px;
  }  
  table.table-sm th {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .3rem;
  }
  input[type=checkbox]{
    cursor: pointer;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: gray;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #00a8a9 !important;
  }