<div class="card-from mt-2">
  <div class="card" style="border: 1px solid #45afaf;">
    <div class="card-header" style="background-color: #45afaf;
        border: 1px solid #45afaf;">
      <p class="mb-0" style="font-size: 13px;">Machine Details</p>
    </div>
    <div class="card-body">
      <form [formGroup]="machineDetailsTable">
        <div formArrayName="machineDetailsdataTable">
          <div class="table-responsive mt-1">
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 10px">Select</th>
                  <th scope="col" class="text-left" style="width: 150px;">Chassis No.</th>
                  <th scope="col" style="width: 150px;">Engine No.</th>
                  <th scope="col" style="width: 150px;">Customer Name</th>
                  <th scope="col" style="width: 150px;">No. of Representatives</th>
                  <th scope="col" style="width: 150px;" *ngIf="!isView">Add</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of machineDetailsTable.get('machineDetailsdataTable')['controls'];index as i"
                  [formGroupName]="i">
                  <td style="vertical-align: middle;">
                    <mat-checkbox color="basic" formControlName="isSelected"
                      [checked]></mat-checkbox>
                  </td>
                  <td>
                    <mat-form-field class="w-100" appearance="outline" [style.fontSize.px]="10">
                      <input matInput placeholder="Chassis No." [formControl]="detail.get('chassisNo')"
                        [matAutocomplete]="autoChassisNo" required>
                      <mat-autocomplete #autoChassisNo="matAutocomplete" [panelWidth]="500" (optionSelected)="chassisNoSelection($event,i)"
                        [displayWith]="displayChassisNoFn">
                        <mat-option *ngFor="let option of filteredChassisNoList | async" [value]="option">
                          {{option.value}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="w-100" appearance="outline" [style.fontSize.px]="10">
                          <input matInput placeholder="Engine No."
                              [formControl]="detail.get('engineNo')">
                      </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="w-100" appearance="outline" [style.fontSize.px]="10">
                          <input matInput placeholder="Customer Name"
                              [formControl]="detail.get('customerName')">
                      </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="w-100" appearance="outline" [style.fontSize.px]="10">
                          <input matInput placeholder="No. of Representatives"
                              [formControl]="detail.get('representativeCount')">
                      </mat-form-field>
                  </td>
                  <td style="vertical-align: middle;" *ngIf="!isView">
                    <button class="btn btn-sm" (click)="addrepresentative()">
                      <mat-icon>add</mat-icon>
                    </button></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </form>
      <div class=" text-center ">
        <button type="button" class="btn btn-sm btn_primary " *ngIf="!isView" (click)="addRow()"> Add Row</button>
        <button type="button" class="btn btn-sm btn_secondary ml-2" *ngIf="!isView" (click)="deleteRow()">Delete Row </button>
      </div>
    </div>
  </div>
</div>