table {
    width: 130%;
    text-align: center;
    color:black;
  }
  th{
    font-weight: bold
  }
  th, td{
    font-size: 12px;
  }  
  table.table-sm th {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .3rem; 
    width: 17rem;
  }
  mat-option{
    color: black !important;
  }
  .btn_primary {
    border: 1px solid transparent !important;
    color: #ffffff !important;
    background-color: #028383 !important;
  }
  .btn_secondary {
    border: 1px solid #6295b6 !important;
    color: #028383 !important;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaaa; 
  border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e0e2e4; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e2e4; 
  }
  input[type=checkbox]{
    cursor: pointer;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: gray;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #00a8a9 !important;
  }