<div class="card-from mt-2">
  <div class="card" style="border: 1px solid #45afaf;">
    <div class="card-header" style="background-color: #45afaf;
        border: 1px solid #45afaf;">
      <p class="mb-0" style="font-size: 13px;">Assign Functionality</p>
    </div>
    <div class="card-body" style="height:350px;overflow-y: auto;">
      <!-- <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs" [label]="tab?.tabName">
          <div class="table-responsive mt-1"> -->
            <!-- <div *ngIf="tabs"> -->
              <app-functionality-table [isView]="isView"></app-functionality-table>
            <!-- </div> -->
          <!-- </div>
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>
</div>