.btn_primary {
    border: 1px solid transparent !important;
    color: #ffffff !important;
    background-color: #028383 !important;
  }
  .btn_secondary {
    border: 1px solid #6295b6 !important;
    color: #028383 !important;
  }
  mat-option{
    color: black !important;
  }
  table {
    width: 100%;
    color: black;
  }
  th{
    font-weight: bold
  }
  th, td{
    font-size: 12px;
  }  
  table.table-sm th {
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .3rem;
  }

  .input{
    width: 17rem;
    border-radius: 3px;
    border: 1px solid #737373;
  }
  button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  .alink{
    cursor: pointer;
    color: blue;
    font-weight: 600;
    text-decoration: underline;
}