<div class="container-fluid  mt-4 mb-3" >
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between">
                <div>
                    <!-- <p class="font-weight-bold" style="color: #354052">
                        Machine Descripancy Complaint
                    </p> -->
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <app-search-machine-descripancy-complaints-list></app-search-machine-descripancy-complaints-list>
</div>