
<div class="card-from ">
    <div class="card">
      <div class="card-header">
        <p class="mb-0">Sales Invoice  Return</p>
      </div>
      <div class="card-body">
        <form  [style.fontSize.px]="10">
          <div class="row">
            <div class="col-lg-2">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Sales Return Invoice  </mat-label>
                    <input matInput placeholder="Sales Invoice Return" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
              
            <div class="col-lg-2">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Sales Invoice No.</mat-label>
                    <input matInput placeholder="Sales Invoice Number" >
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
              

          <div class="col-lg-2">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Customer Code</mat-label>
                <input matInput placeholder="Customer Code" >
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-lg-2">
          <mat-form-field class="w-100" appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput placeholder="Customer Name" >
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Reference Document</mat-label>
            <mat-select>
                <mat-option *ngFor="let refdoc of refdocs" [value]="refdoc">{{refdoc}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-lg-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Customer Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let custtype of custtypes" [value]="custtype">{{custtype}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="col-lg-2">
      <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sales Type</mat-label>
          <mat-select>
              <mat-option *ngFor="let saletype of saletypes" [value]="saletype">{{saletype}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>

  <div class="col-lg-2">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mode of Transport</mat-label>
        <mat-select>
            <mat-option *ngFor="let transport of transports" [value]="transport">{{transport}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="col-lg-2">
  <mat-form-field appearance="outline" class="w-100">
      <mat-label>Transporter</mat-label>
      <mat-select>
          <mat-option *ngFor="let transporter of transporters" [value]="transporter">{{transporter}}</mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div class="col-lg-2">
        <mat-form-field class="w-100">
            <input matInput [matDatepicker]="picker1" placeholder="Sales Invoice Return from Date"
                >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="col-lg-2">
            <mat-form-field class="w-100">
                <input matInput [matDatepicker]="picker2" placeholder="Sales Invoice Return to Date"
                    >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>

          </div>
        </form>

       
        <div class=" text-center mt-2 pb-2">
            
          
            <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Search
            </button>
          </div>
          


      </div>
    </div>
</div>        