<div class="card-from mt-2">
    <div class="card">
        <div class="card-header">
            <p class="mb-0">Machine Details</p>
        </div>
        <div class="card-body">
            <div [formGroup]="directSurveyCreateMachineDetailsForm" [style.fontSize.px]="11">
                <div class="row">
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Chassis No</mat-label>
                            <input matInput placeholder="Chassis No" formControlName="chassisNo">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Product</mat-label>
                            <input matInput placeholder="Product" formControlName="product">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Model</mat-label>
                            <input matInput placeholder="Model" formControlName="model">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Sub Model</mat-label>
                            <input matInput placeholder="Sub Model" formControlName="subModel">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Variant</mat-label>
                            <input matInput placeholder="Variant" formControlName="variant">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Item</mat-label>
                            <input matInput placeholder="Item" formControlName="item">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Date of Installation</mat-label>
                            <input matInput placeholder="Date of Installation" formControlName="dateOfInstallation">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Engine No.</mat-label>
                            <input matInput placeholder="Engine No." formControlName="engineNo">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Warranty Valid Till</mat-label>
                            <input matInput placeholder="Warranty Valid Till" formControlName="warrantyValidTill">
                        </mat-form-field>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>