::ng-deep .mat-tab-label-content {
    font-weight: bold !important;
    color: black !important;
}
::ng-deep .mat-tab-label-active{
 font-weight: bold !important;
    background-color: #f1f1f1 !important;
}
.mat-tab-label[_ngcontent-c19] {
    cursor: pointer;
  
}