<app-prospect-details
(autoMobileNo)="autoMobileNo($event)"
[autoComplateMobileNo]="autoComplateMobileNo"
(autoPopulatebyMobileNo)="autoPopulateDatabyMobileNo($event)"
[autoPopulateDatabyMobileNoList]="autoPopulateDatabyMobileNoList"
(autoPincode)="autoPincode($event)"
[pinCode]="pinCode"
[getmodelValue]="getmodelValue"
(autopopulateDatabyPincode)="autopopulatebyPincode($event)"
[autocomplatePopulateDatabyPinCode]="autocomplatePopulateDatabyPinCode"
[autoComplatePostOffice]="autoComplatePostOffice"
(keyDownMobileNo)="keyDownMobileNo($event)"
(keyDownProspectCode)="keyDownProspectCode($event)"
(getFormStatusandData)="getFormStatusandDataAndFormName($event)"
>

</app-prospect-details>

<!-- [pinCode]="pinCode" -->