.table {
  width: 150%;
  text-align: center;
}
th,
td {
  font-size: 12px;
}
table.table-sm th {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.3rem;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #aaaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e0e2e4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0e2e4;
}
@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}
@mixin width($size) {
  width: calculate-rem($size);
}

:host {
  .w-50px {
    @include width(50px);
  }
  .w-100px {
    @include width(100px);
  }
  .right {
    text-align: right;
    // margin-right: 1em;
  }
  .boder-none {
    border: none;
  }
}
