// .part-details {
//     mat-form-field {
//        ::ng-deep .mat-form-field-wrapper{
//             padding: 0px;
//         }
//     }
//     .chkBox {
//         vertical-align: bottom;
//     }
//     mat-checkbox {
//         display: inline-flex;
//     }
// }