<div class="container-fluid create-form  mt-4 mb-3">
  <div class="card-from">
    <div class="card">
      <div class="card-header">
        <p class="mb-0">Bin to Bin Transfer</p>
      </div>
      <form [formGroup]="btBtForm" [style.fontSize.px]="10">
         <div class="card-body">
            <div>
                <app-create-bintobin-transfer [isView]="isView" [isEdit]="isEdit"></app-create-bintobin-transfer>
                <app-bin-item-details></app-bin-item-details>
            </div>
            <div class=" text-center mt-2 ">
                <button type="button" class="btn btn_primary pl-3 pr-3 ml-3" *ngIf="isCreate"
                    (click)="saveAndSubmitForm(false)" [disabled]="isSubmitDisable"> Submit
                </button>
                <button type="button" class="btn btn_secondary px-3 ml-3 " disabled> View PDF
                </button>
                <button type="button" class="btn btn_secondary px-3 ml-3" disabled> Print
                </button>
                <!-- <button type="button" class="btn btn_primary px-3 ml-3"> Clear
                </button> -->
            </div>
         </div>
	</form>            
  </div>
 </div>
</div>