<div class="card-from mt-2">
    <div class="card" style="border: 1px solid #45afaf;">
      <div class="card-header" style="background-color: #45afaf;
        border: 1px solid #45afaf;">
        <p class="mb-0" style="font-size: 13px;">Document Details</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="padding-bottom: 12px;width: 20px;">Sr.No.</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Customer Code</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Customer Name</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Document No.</th>
                <th scope="col" style="width: 100px;padding-bottom: 12px;">Document Date</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Chassis No.</th>
                <th scope="col" style="padding-bottom: 12px;width: 200px;">Model</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Type Of Service</th>
                <th scope="col" style="width: 100px;">Date of installation</th>
                <th scope="col" style="width: 100px;">Free Service Coupon Page 1</th>
                <th scope="col" style="width: 100px;">Free Service Coupon Page 1</th>
                <th scope="col" style="padding-bottom: 12px;width: 200px;">Amount</th>
                <th scope="col" style="width: 200px;padding-bottom: 12px;">Bonus Amount</th>
                <th scope="col" style="padding-bottom: 12px;width: 100px;">Approved</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td>
                    <a class="text-primary" [routerLink]="[ '/service/customer-service/job-card/create' ]">
                      <u>JC No.</u> 
                     </a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="text-primary" [routerLink]="[ '/service/service-activities-claims/service-claim/in-progress' ]">
                      <u>View</u> 
                     </a>
                </td>
                <td>
                    <a class="text-primary" [routerLink]="[ '/service/service-activities-claims/service-claim/in-progress' ]">
                      <u>View</u> 
                     </a>
                </td>
                <td></td>
                <td></td>
                <td><mat-checkbox color="basic"></mat-checkbox></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  </div>