<div class="mt-3">
        <div class="d-flex bd-highlight">
          <div class="mr-auto pt-2 bd-highlight">
            <p class="font-weight-bold" style="color: #354052">
              Search Results
            </p>
          </div>
          <div class="pr-3 bd-highlight">
            <label class="mr-2" style="font-size: 0.9rem;">Items Per Page</label>
            <mat-form-field [style.fontSize.px]="12" [style.width.px]="50">
              <mat-select>
                <mat-option>
                 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
    
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
               
                <th scope="col" style="width: 53px;padding-bottom: 11px; ">Invoice Type</th>
                <th scope="col" style="width: 212px;padding-bottom: 11px;">Invoice No. </th>
                <th scope="col" style="width: 212px;padding-bottom: 11px;">Delivery Challan Type</th>
                <th scope="col" style="width: 212px;padding-bottom: 11px;">Invoice Date</th>
                <th scope="col" style="width: 100px;padding-bottom: 11px;">Customer Code</th>
                <th scope="col" style="width: 212px;padding-bottom: 11px;">Customer Name</th>
                <th scope="col" style="width: 100px;padding-bottom: 11px;">Invoice Status</th>
                <th scope="col" style="width: 150px;padding-bottom: 11px;">Hypothecation</th>
                <th scope="col" style="width: 150px;padding-bottom: 11px;">Customer Type	</th>
                  <th scope="col" style="width: 150px">Company Name</th>
                  <th scope="col" style="width: 150px">Invoicing Customer Name</th>
                  <th scope="col" style="width: 150px">Mobile No.</th>
                  <th scope="col" style="width: 150px">Address 1</th>
                  <th scope="col" style="width: 150px">Address 2</th>
                  <th scope="col" style="width: 150px">Address 3</th>
                  <th scope="col" style="width: 150px">Pin Code</th>
                  <th scope="col" style="width: 150px">Post Office</th>
                  <th scope="col" style="width: 150px">Village</th>
                  <th scope="col" style="width: 150px">Tehsil/Taluka/Mandal</th>
                  <th scope="col" style="width: 150px">District</th>
                  <th scope="col" style="width: 150px">City</th>
                  <th scope="col" style="width: 150px">State</th>
                  <th scope="col" style="width: 150px">GSTIN No.</th>
                  <th scope="col" style="width: 150px">PAN No.</th>
                  <th scope="col" style="width: 150px">Insurance Company Code</th>
                  <th scope="col" style="width: 150px">Insurance Company Name</th>
                  <th scope="col" style="width: 150px">Address 1</th>
                  <th scope="col" style="width: 150px">Address 2</th>
                  <th scope="col" style="width: 150px">Address 3</th>
                  <th scope="col" style="width: 150px">Pin Code	</th>
                  <th scope="col" style="width: 150px">Locality</th>
                  <th scope="col" style="width: 150px">Tehsil/Taluka/Mandal</th>
                  <th scope="col" style="width: 150px">City</th>
                  <th scope="col" style="width: 150px">State</th>
                  <th scope="col" style="width: 150px">Country</th>
                  <th scope="col" style="width: 150px">Telephone</th>
                  <th scope="col" style="width: 150px">Email</th>
                  <th scope="col" style="width: 150px">Policy Start Date</th>
                  <th scope="col" style="width: 150px">Policy Expiry Date</th>
                  <th scope="col" style="width: 100px ;padding-bottom: 11px;" >Approve/Reject</th>
                  <th scope="col" style="width: 100px ;padding-bottom: 11px;" >Cancellation</th>
                 

               
             


              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                </td>
                <td>1</td>
                <td>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <td>
                        <button type="button" class=" button" class="btn btn_primary" [routerLink]="[ '../../../invoice-cancel-approval' ]">Approve/Reject</button>
                </td>
                <td>
                        <button type="button" class=" button" class="btn btn_primary" [routerLink]="[ '../../../invoice-cancel' ]">Cancellation</button>

                </td>



              </tr>
    
            </tbody>
          </table>
        </div>
    
        <mat-paginator showFirstLastButtons hidePageSize [length]="50" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
    
</div>