<div class="card-from ">
  <div class="card">
    <div class="card-header">
      <p class="mb-0"> Sales Invoice Return </p>
    </div>
    <div class="card-body">
      <form [style.fontSize.px]="10">
        <div class="row">
          <div class="col-lg-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Sales Return Invoice No.</mat-label>
              <input matInput placeholder="Sales Return Invoice">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>


          <div class="col-lg-2">
            <mat-form-field class="w-100">
              <input matInput [matDatepicker]="picker1" placeholder="Date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Sales Invoice Number</mat-label>
              <input matInput placeholder="Sales Invoice Number">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field class="w-100" appearance="outline">
              <input matInput [matDatepicker]="picker2" placeholder="Invoice Date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Customer Type</mat-label>
              <input matInput placeholder="Customer Type" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Reference Document</mat-label>
              <mat-select disabled>
                <mat-option *ngFor="let refdoc of refdocs" [value]="refdoc">{{refdoc}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Sales Type</mat-label>
              <mat-select disabled>
                <mat-option *ngFor="let saletype of saletypes" [value]="saletype">{{saletype}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Customer Code</mat-label>
              <input matInput placeholder="Customer Address 1" disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput placeholder="Customer Address 1" disabled>
            </mat-form-field>
          </div>


          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Customer Address 1</mat-label>
              <input matInput placeholder="Customer Address 1" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Customer Address 2</mat-label>
              <input matInput placeholder="Customer Address 2" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Village</mat-label>
              <input matInput placeholder="Village" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Tehsil/ Taluk/ Mandal</mat-label>
              <input matInput placeholder="Tehsil/ Taluk/ Mandal " disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>District</mat-label>
              <input matInput placeholder="District" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput placeholder="State" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Pin code</mat-label>
              <input matInput placeholder="Pin code" disabled>
            </mat-form-field>
          </div>

          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input matInput placeholder="Mobile No." required disabled>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Pricing</mat-label>
              <mat-select disabled>
                <mat-option *ngFor="let pricing of pricings" [value]="pricing">{{pricing}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mode of Transport</mat-label>
              <mat-select disabled>
                <mat-option *ngFor="let transport of transports" [value]="transport">{{transport}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Transporter</mat-label>
              <mat-select disabled>
                <mat-option *ngFor="let transporter of transporters" [value]="transporter">{{transporter}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="outline">
              <mat-label>L.R. No.</mat-label>
              <input matInput placeholder="L.R. No." disabled>
            </mat-form-field>
          </div>

        </div>



      </form>
<app-sales-invoice-cancel-item-details></app-sales-invoice-cancel-item-details>
      <div class=" text-center mt-2 pb-2">
        <button type="button" class="btn btn_primary pl-3 pr-3 ml-3" (click)="validateForm()"> Submit
        </button>
        <button type="button" class="btn btn_secondary pl-3 pr-3 ml-3" disabled> View Pdf
        </button>
        <button type="button" class="btn btn_secondary pl-3 pr-3 ml-3" disabled> Print
        </button>
        <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Clear
        </button>
        <button type="button" class="btn btn_primary pl-3 pr-3 ml-3"> Exit
        </button>
      </div>



    </div>
  </div>
</div>
