
    <div class="container-fluid mt-4 mb-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-from">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between header">
                                        <p class="mb-0">Search Dealer</p>
                                        <div>
                                            <button type="button" class="font-weight-bold btn btn_header bg_white btn-xs ml-2 " [routerLink]="[ './create' ]">
                                                <b class="btnName">New</b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-dealer-user-search-result [dealerForm]=dealerForm></app-dealer-user-search-result>
                        <div class=" text-center mb-1">
                        <button type="button" class="btn  btn_primary" (click)="searchDealerForTable()"
                        > Search
                   </button>
                        <button type="button" class="btn  btn_primary px-3 ml-2" (click)="clearDealerForm()">
                            Clear
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <ngsw-search-table [tableTitle]="'Search Result'" [dataTable]="dataTable"
    [totalElements]="totalTableElements" [actionButtons]="actionButtons" [searchValue]="searchValue"
    [clickOnTableFields]="[{title:'employeeCode'},{title:'edit'}]"  (actionOnTableRecord)="tableAction($event)"
    (pageChange)="pageChange($event)"  [page]="page" [size]="size"  [searchValue]="searchValue">

    <td [ngsw-searchField]="edit" [searchColumnName]="'edit'" class="edit">
        <input class="w-100 borderRadius edit" #edit>
    </td>

    <td [ngsw-searchField]="employeeCode" [searchColumnName]="'employeeCode'" class="employeeCode">
        <input class="w-100 borderRadius" #employeeCode [(ngModel)] ="employeeCodeNgModel">
    </td>
    <td [ngsw-searchField]="employeeName" [searchColumnName]="'employeeName'" class="employeeName">
        <input class="w-100 borderRadius" #employeeName [(ngModel)] ="employeeNameNgModel">
    </td>
    
    <td [ngsw-searchField]="loginIdStatus" [searchColumnName]="'loginIdStatus'" class="loginIdStatus">
        <input class="w-100 borderRadius" #loginIdStatus [(ngModel)] ="loginIdStatusNgModel"> 
    </td>
    
    <td [ngsw-searchField]="employeeStatus" [searchColumnName]="'employeeStatus'" class="employeeStatus">
        <input class="w-100 borderRadius" #employeeStatus [(ngModel)] ="employeeStatusNgModel">
    </td>

    </ngsw-search-table>
</div>