<div class="card-from mt-2" *ngIf="showSalesFormData || viewPostSalesfeedback ||(showAllServiceFeedbackForm || viewPostServicefeedback)">
    <div class="card">
        <div class="card-header">
            <p class="mb-0">Existing Customer Details</p>
        </div>
        <div class="card-body">
            <div [formGroup]="customerDetailsForm" [style.fontSize.px]="11">
                <div class="row">


                    <div class="col-lg-2" *ngIf="!isView">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Customer Name / Mobile No</mat-label>
                            <input matInput placeholder="Customer Name / Mobile No" formControlName="mobileNumber" >
                            <!-- <mat-autocomplete #autoCustomerCode="matAutocomplete" [panelWidth]="500"
                                (optionSelected)="selectedCustomerCode($event)" [displayWith]="displayFnCustomerCode">
                                <mat-option *ngFor="let option of customerCodeList" [value]="option">
                                    {{option?.value}}
                                </mat-option>
                            </mat-autocomplete> -->
                            <!-- <mat-icon matSuffix>search</mat-icon> -->
                            <mat-error
                                *ngIf="customerDetailsForm.get('mobileNumber').hasError('selectFromList')">
                                Please select from list</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2" *ngIf="isView">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Customer Name / Mobile No</mat-label>
                            <input matInput placeholder="Customer Name / Mobile No" formControlName="mobileNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('custCode').value}}">
                            <mat-label>Customer Code</mat-label>
                            <input matInput placeholder="Customer Code" formControlName="custCode" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('title').value}}">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title" formControlName="title" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('firstName').value}}">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" formControlName="firstName" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('lastName').value}}">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" formControlName="lastName" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('middleName').value}}">
                            <mat-label>Middle Name</mat-label>
                            <input matInput placeholder="Middle Name" formControlName="middleName" readonly>
                        </mat-form-field>
                    </div>
                    
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('preferedLanguage').value}}">
                            <mat-label>Prefered Language</mat-label>
                            <input matInput placeholder="Prefered Language" formControlName="preferedLanguage" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('panNo').value}}">
                            <mat-label>Pan No.</mat-label>
                            <input matInput placeholder="Pan No." formControlName="panNo" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('gstin').value}}">
                            <mat-label>Gstin</mat-label>
                            <input matInput placeholder="Gstin" formControlName="gstin" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('telephone').value}}">
                            <mat-label>Telephone</mat-label>
                            <input matInput placeholder="Telephone" formControlName="telephone" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('alternateMobileNo').value}}">
                            <mat-label>Alternate Mobile No.</mat-label>
                            <input matInput placeholder="Alternate Mobile No." formControlName="alternateMobileNo"
                                readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('contactPersonName').value}}">
                            <mat-label>Contact Person Name</mat-label>
                            <input matInput placeholder="Contact Person Name" formControlName="contactPersonName"
                                readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('contactPersonMobile').value}}">
                            <mat-label>Contact Person Mobile</mat-label>
                            <input matInput placeholder="Contact Person Mobile" formControlName="contactPersonMobile"
                                readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('soldDealerName').value}}">
                            <mat-label>Sold Dealer Name</mat-label>
                            <input matInput placeholder="Sold Dealer Name" formControlName="soldDealerName" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="card-from mt-2" *ngIf="showSalesFormData || viewPostSalesfeedback ||(showAllServiceFeedbackForm || viewPostServicefeedback)">
    <div class="card">
        <div class="card-header">
            <p class="mb-0">Address Details</p>
        </div>
        <div class="card-body">
            <div [formGroup]="customerDetailsForm" [style.fontSize.px]="11">
                <div class="row">

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('address1').value}}">
                            <mat-label>Address 1</mat-label>
                            <input matInput placeholder="Address 1" required formControlName="address1" readonly>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('address2').value}}">
                            <mat-label>Address 2</mat-label>
                            <input matInput placeholder="Address 2" formControlName="address2" readonly>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('address3').value}}">
                            <mat-label> Address 3</mat-label>
                            <input matInput placeholder="Address 3" formControlName="address3" readonly>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-2">
                        <mat-form-field appearance="outline" title="{{customerDetailsForm.get('country').value}}">
                            <mat-label>Country</mat-label>
                            <input matInput placeholder="Country" formControlName="country" readonly>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-2">
                        <mat-form-field class="w-100" appearance="outline" title="{{customerDetailsForm.get('state').value}}">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="State" formControlName="state"
                                readonly>
                        </mat-form-field>
                    </div>


                    <div class="col-lg-2">
                        <mat-form-field class="w-100" appearance="outline" title="{{customerDetailsForm.get('district').value}}">
                            <mat-label>District</mat-label>
                            <input matInput placeholder="District" formControlName="district"
                                 readonly>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field class="w-100" appearance="outline" title="{{customerDetailsForm.get('tehsil').value}}">
                            <mat-label>Tehsil/ Taluk/ Mandal</mat-label>
                            <input matInput placeholder="Tehsil/ Taluk/ Mandal" formControlName="tehsil"
                                 readonly>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field class="w-100" appearance="outline" title="{{customerDetailsForm.get('city').value}}">
                            <mat-label>Village /City</mat-label>
                            <input matInput placeholder="Village /City" formControlName="city" readonly>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <mat-form-field class="w-100" appearance="outline" title="{{customerDetailsForm.get('pinCode').value}}">
                            <mat-label>Pin Code</mat-label>
                            <input matInput placeholder="Pin Code" formControlName="pinCode" readonly>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<!-- </div> -->