<div class="container-fluid mt-4 mb-3">
    <!-- <form [formGroup]="searchForm"> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-from">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between header">
                                <p class="mb-0">Search Model Survey</p>
                                <div>
                                    <button type="button" class="font-weight-bold btn btn_header bg_white btn-xs ml-2 "
                                    [routerLink]="[ './create' ]">
                                    <b class="btnName">New</b>
                                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center  mt-2 mb-2">
                            <button type="button" class="btn  btn_primary px-3" (click)="searchModelServey()">
                                Search
                            </button>
                            <button type="button" class="btn  btn_secondary px-3 ml-2" (click)="clearForm()">
                                Clear
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <!-- </form> -->
</div>
<div class="container-fluid">
    <ngsw-search-table [tableTitle]="'Search Result'" [dataTable]="dataTable"
    [totalElements]="totalTableElements" [actionButtons]="actionButtons" [searchValue]="searchValue"
    [clickOnTableFields]="[{title:'edit'},{title:'surveyName'}]"  (actionOnTableRecord)="tableAction($event)"
    (pageChange)="pageChange($event)"  [page]="page" [size]="size"  [searchValue]="searchValue">

    </ngsw-search-table>
</div>