<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <app-part-requisition-search [partRequisitionSearchForm]="partRequisitionSearchForm"
                (searchChange)="searchPartRequisition()" (clearData)="resetAllSearchValue()"></app-part-requisition-search>
        </div>
    </div>
</div>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-lg-12">
            <ngsw-search-table
                [tableTitle]="'Search Result'"
                [dataTable]="dataTable"
                [actionButtons]="actionButtons"
                [totalElements]="totalTableElements"
                [searchValue]="searchValue"
                [clickOnTableFields]="clickOnTableFields"
                [page]="page" [size]="size"
                (actionOnTableRecord)="actionOnTableRecord($event)"
                (columnLengthChanges)="columnLengthChanges($event)"
                (pageChange)="pageChangeOfSearchTable($event)"
                [clearSearchRow]="clearSearchRow" >

                <td class="edit"></td>
                <td [ngsw-searchField]="requisitionNo" [searchColumnName]="'requisitionNo'">
                     <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput #requisitionNo [(ngModel)] ="requisitionNoNgModel">
                    </mat-form-field>
                </td>

                <td [ngsw-searchField]="requisitionPurpose" [searchColumnName]="'requisitionPurpose'">
                    <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput #requisitionPurpose [(ngModel)] ="requisitionPurposeNgModel">
                    </mat-form-field>
                </td>

                <td [ngsw-searchField]="requestedBy" [searchColumnName]="'requestedBy'">
                     <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput #requestedBy [(ngModel)] ="requestedByNgModel">
                    </mat-form-field>
                </td>

                <td [ngsw-searchField]="requisitionDate" [searchColumnName]="'requisitionDate'">
                   <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput [matDatepicker]="requisitionDate" #requisitionDateInput
                            (dateInput)="etSearchDateValueChange(requisitionDateInput.value,'requisitionDate')" [(ngModel)] ="requisitionDateNgModel">
                        <mat-datepicker-toggle matSuffix [for]="requisitionDate"></mat-datepicker-toggle>
                        <mat-datepicker #requisitionDate></mat-datepicker>
                    </mat-form-field>
                </td>

                <td [ngsw-searchField]="jobCardNo" [searchColumnName]="'jobCardNo'">
                    <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput #jobCardNo [(ngModel)] ="jobCardNoNgModel">
                    </mat-form-field>
                </td>

                <td [ngsw-searchField]="jobCardDate" [searchColumnName]="'jobCardDate'">
                   <mat-form-field class="w-100 pb_0" appearance="outline" [style.fontSize.px]="10">
                        <input matInput [matDatepicker]="jobCardDate" #jobCardDateInput
                            (dateInput)="etSearchDateValueChange(jobCardDateInput.value,'jobCardDate')" [(ngModel)] ="jobCardDateNgModel">
                        <mat-datepicker-toggle matSuffix [for]="jobCardDate"></mat-datepicker-toggle>
                        <mat-datepicker #jobCardDate></mat-datepicker>
                    </mat-form-field>	
                </td>
            </ngsw-search-table>
        </div>
    </div>
</div>