#invoice-total-container {
  display: flex;
  flex-flow: row wrap;
  .child:first-child {
    flex: 2;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0px;
  }
  .child:nth-child(2) {
    flex: 1;
  }
  #total-invoice-calc-form {
    .d-flex {
      display: flex;
      justify-content: space-around;
      label {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin-bottom: 0px;
        color: #000000;
        font-size: 13px;
        font-weight: 500;
      }
    }
    .mat-form-field {
      width: unset !important;
    }
  }
}
