<div [formGroup]="seachTransit" [style.fontSize.px]="11" class="container-fluid mt-2 pb_0">
    <div class="row pb_0">
   

      <div class="col-lg-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="grnStatus">
               <mat-option *ngFor="let status of StatusList" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [matDatepicker]="picker" readonly placeholder="Invoice From Date"
            formControlName="fromInvoiceDate" (click)="picker.open()" [max]="newdate" (dateChange)="setToDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="col-lg-2">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [matDatepicker]="picker1" readonly placeholder="Invoice To Date"
            formControlName="toInvoiceDate" (click)="picker1.open()"  [max]="maxDate" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
  
      
  
      
          </div>
      </div>
  