<form [formGroup]="formName" [style.fontSize.px]="11">
    <div class="row">

      <div class="col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Address 1</mat-label>
          <input matInput placeholder="Address 1" formControlName="address1">
        </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Address 2</mat-label>
          <input matInput placeholder="Address 2" formControlName="address2">
        </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Address 3</mat-label>
          <input matInput placeholder="Address 3" formControlName="address3">
        </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Address 4</mat-label>
          <input matInput placeholder="Address 4" formControlName="address4">
        </mat-form-field>
      </div>

      <div class="col-lg-2">
        <mat-form-field appearance="outline">
          <mat-label>Pin Code</mat-label>
          <input matInput placeholder="Pin Code" formControlName="pinCode">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-2 ">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tehsil</mat-label>
              <mat-select formControlName="tehsil">
                  <mat-option *ngFor="let tehsil of tehsils" [value]="tehsil">
                      {{tehsil}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="col-lg-2 ">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>City</mat-label>
              <mat-select formControlName="city">
                  <mat-option *ngFor="let city of cities" [value]="city">
                      {{city}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="col-lg-2 ">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>State</mat-label>
              <mat-select formControlName="state">
                  <mat-option *ngFor="let state of states" [value]="state">
                      {{state}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="col-lg-2 ">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                  <mat-option *ngFor="let country of countries" [value]="country">
                      {{country}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>

    </div>
  </form>