<!-- <div class="mt-2 dealer" [style.fontSize.px]="12" [formGroup]="remarkForm">

    <div class="row mb-1">
        <div class="col-lg-6">
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">Dealer Remarks</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline">
                        <mat-label>Dealer Remarks</mat-label>
                        <input  matInput placeholder="Dealer Remarks" formControlName="dealerRemark">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">KAI Remarks</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline">
                        <mat-label>KAI Remarks</mat-label>
                        <input  matInput placeholder="KAI Remarks" formControlName="KAIRemark">
                    </mat-form-field>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">EMP NAME</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline">
                        <mat-label>EMP NAME</mat-label>
                        <input  matInput placeholder="EMP NAME" formControlName="empName">
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">EMP DESIGNATION</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline">
                        <mat-label>EMP DESIGNATION</mat-label>
                        <input  matInput placeholder="EMP DESIGNATION" formControlName="empDesignation">
                    </mat-form-field>
                </div>
            </div>
           
        </div>
        <div class="col-lg-6">
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">APPROVED BY</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline">
                        <mat-label>APPROVED BY</mat-label>
                        <input  matInput placeholder="APPROVED BY" formControlName="approvedBy">
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">APPROVED DATE</label>
                </div>
                <div class="w-75 flex-fill bd-highlight">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>APPROVED DATE</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="APPROVED DATE" formControlName="approvedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" formArrayName="attachFile">
            <div class="d-flex bd-highlight mt-1" *ngFor="let item of remarkForm.controls.attachFile.controls; let i=index" [formGroupName]="i">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">File Attachment{{i+1}}</label>
                </div>
                <div class="w-50 flex-fill bd-highlight">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02"
                                aria-describedby="inputGroupFileAddon02">
                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="w-25"></div>
            </div>
            <div class="d-flex mt-2">
                <div class="w-100 text-center">
                    <button (click)="addFile()" type="button" class="btn btn_primary px-2" style="font-size: 11px;"> Add Row
                    </button>
                    <button type="button" class="btn btn_secondary px-2 ml-2" style="font-size: 11px;"> Delete Row
                    </button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-6">
            <div class="d-flex bd-highlight">
                <div class="pr-1 w-25 flex-fill bd-highlight">
                    <label class="col-form-label">Video</label>
                </div>
                <div class="w-50 flex-fill bd-highlight">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" formControlName="attachVideo">
                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="w-25"></div>
            </div>
        </div>
       
    </div>
</div> -->