<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between">
                <div>
                    <p class="font-weight-bold" style="color: #354052">
                       PSI Field Master
                    </p>
                </div>
            </div>

        </div>
        <div class="col-lg-12">
            <div class="alert alert-secondary text-center" role="alert" style="margin-top: 200px">
                In progress
            </div>
        </div>
    </div>


</div>