.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
 -webkit-appearance: none; 
 margin: 0; 
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  mat-panel-title {
   flex-basis: 0;
}