<div class="card-from mt-2 failure-part" [formGroup]="failurePartsForm">
  <div class="card" style="border: 1px solid #45afaf;">
    <div class="card-header" style="background-color: #45afaf;
              border: 1px solid #45afaf;">
      <p class="mb-0" style="font-size: 13px;">FAILURE PARTS</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead class="thead-light">
            <tr>
                 <th scope="col" style="width: 50px">Sr No.</th>
                 <th scope="col" style="width: 100px">Part No.</th>
                 <th scope="col" style="width: 100px">Description</th>
                 <th scope="col" style="width: 100px">Original Claim Qty</th>
                 <th scope="col" style="width: 100px">Rejected Qty</th>
                 <th scope="col" style="width: 100px">Goodwill Claim Qty</th>
                 <th scope="col" style="width: 100px" *ngIf="isKaiUser">Goodwill Claim Accepted Qty</th>
                 <th scope="col" style="width: 100px" *ngIf="isKaiUser">Price Type</th>
                 <th scope="col" style="width: 100px" *ngIf="isKaiUser">Accepted%</th>
                 <th scope="col" style="width: 100px">Failure Code</th>
                 <th scope="col" style="width: 100px">Failure Description</th>
             </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of failurePartsForm.controls; let i=index" [formGroupName]="i">
              <td>{{i+1}}</td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Part Number</mat-label>
                  <input matInput placeholder="Part Number" formControlName="itemNo">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Original Claim Quantity</mat-label>
                  <input matInput placeholder="Original Claim Quantity" formControlName="claimQuantity">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Rejected Quantity</mat-label>
                  <input matInput placeholder="Rejected Quantity" formControlName="rejectedQuantity">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Goodwill Claim Quantity</mat-label>
                  <input matInput placeholder="Goodwill Claim Quantity" formControlName="goodwillClaimQuantity">
                </mat-form-field>
                <mat-error *ngIf="list.get('goodwillClaimQuantity').hasError('maxValue')">
	                <strong>Qty should not exceed Rejected Qty</strong>
	            </mat-error>
              </td>
              <td *ngIf="isKaiUser">
                <mat-form-field appearance="outline" >
                  <mat-label>Goodwill Claim Accepted Quantity</mat-label>
                  <input matInput placeholder="Goodwill Claim Accepted Quantity"
                    formControlName="goodwillClaimAcceptedQuantity">
                </mat-form-field>
                <mat-error *ngIf="list.get('goodwillClaimAcceptedQuantity').hasError('maxValue')">
	                <strong>Qty should not exceed Claim Qty</strong>
	            </mat-error>
              </td>
              <td *ngIf="isKaiUser">
                <mat-form-field appearance="outline">
                  <mat-label>Price Type</mat-label>
                  <mat-select formControlName="priceType">
                    <mat-option *ngFor="let type of priceType" [value]="type.price">{{type.price}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </td>
              <td *ngIf="isKaiUser">
                <mat-form-field appearance="outline">
                  <mat-label>Accepted%</mat-label>
                  <input matInput placeholder="Accepted%" formControlName="acceptedPercentage" maxlength="3">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Failure Code</mat-label>
                  <input matInput placeholder="Failure Code" formControlName="failureCode"/>
                 </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Failure Description</mat-label>
                  <input matInput placeholder="Failure Percentage" formControlName="failureDescription">
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="table-responsive">
            <p class="mb-0" style="font-size: 14px;"> <b>Labour Charges</b></p>
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th class="p-2" *ngFor="let tableHeading of labourChargeHeading">{{tableHeading}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of labourChargeList">
                  <td>{{list.val1}}</td>
                  <td>{{list.val2}}</td>
                  <td>{{list.val3}}</td>
                  <td>{{list.val4}}</td>
                  <td>{{list.val5}}</td>
                  <td>{{list.val6}}</td>
                  <td>{{list.val7}}</td>
                  <td>{{list.val8}}</td>
                  <td>{{list.val9}}</td>
                </tr>
              </tbody>
            </table>
        </div> -->

      <!-- <div class="table-responsive">
            <p class="mb-0" style="font-size: 14px;"> <b>Outside Labour Charges</b></p>
            <table class="table table-bordered table-sm">
              <thead class="thead-light">
                <tr>
                  <th class="p-2" *ngFor="let tableHeading of outsideLabourChargeHeading">{{tableHeading}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of outsideLabourChargeList">
                  <td>{{list.val1}}</td>
                  <td>{{list.val2}}</td>
                  <td>{{list.val3}}</td>
                  <td>{{list.val4}}</td>
                  <td>{{list.val5}}</td>
                  <td>{{list.val6}}</td>
                  <td>{{list.val7}}</td>
                </tr>
              </tbody>
            </table>
        </div> -->

    </div>
  </div>
</div>