<app-enqiry-product-interested (autoItemNo)="autoItemNo($event)" [itemNoList]="itemNoList"
    (autoPopulateDatabyItemNo)="autoPopulatebyItemNo($event)" [autoPopulateByItemNo]="autoPopulateByItemNo"
    (autoModel)="autoModel($event)" [model]="model" (autoPopulatebyModel)="autoPopulateDatabyModel($event)"
    [subModel]="subModel" (getFormStatusandData)="getFormStatusandData($event)" [getMobileNumber]="getMobileNumber"
    [viewPatchEnquiryData]="viewPatchEnquiryData" [autoPopulateByModel]="autoPopulateByModel">
</app-enqiry-product-interested>